body {
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  canvas {
    width: 100vw;
    height: 100vh;
  }
  
  .container {
    top: 50vh;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transform: translateY(-50%);
  }
  .flip-card {
    height: 32vh;
    margin: 1.5vh;
    background-color: transparent;
    width: 300px;
    perspective: 1000px; 
  }
  
  .flip-card-inner {
    border: 2px solid white;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: inset 0px 0px 0px 0.2vh white;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  .flip-card-front h1 {
    margin: 0;
  }
  
  .flip-card-front {
    text-overflow: ellipsis;
    background-color: #092215;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .flip-card-back {
      background-color: #bbb;
    color: black;
    transform: rotateY(180deg);
  }
  
  .modal1 {
      position: fixed; 
      z-index: 1; 
      padding: 4vh 0; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      overflow: auto; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.75); 
    }
    
   
    .modal-content1 {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 45.5%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }
    
    
    @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0} 
      to {top:0; opacity:1}
    }
    
    @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }
    
   
    .close1 {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close1:hover,
    .close1:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    
    .modal-header1 {
      padding: 0.406% 3.24%;
      background-color: #5cb85c;
      color: white;
      text-align: center;
    }
    
    .modal-body1 {padding: 0.406% 3.24%;
                  overflow:auto;
               color: black;}
   
   @media screen and (max-width: 1024px) {
      #bodyMargin {
          margin: 0px auto;
          padding: 0.406% 3.24%;
      }
   }
    
    .modal-footer1 {
      padding: 0.406% 3.24%;
      background-color: #5cb85c;
      color: white;
      text-align: center;
    }
   
   .modal-body1{
      margin: 0px 5%;
      text-align: center;
   }
  
   .target {
      width: 80%;
      margin: 1vh auto;
      height: 4vh;
   }
  
   .target:first-child {
      margin-top: 5vh;
   }
  
   button.target {
     width: 60%;
     background: #08ec2e;
     color: black;
     height: 5vh;
     cursor: pointer;
   }
  
   input[type=number]:hover::-webkit-inner-spin-button, input[type=number]:focus::-webkit-inner-spin-button {  
     width: 2vw;
     height: 4.3vh;
  }
  
  @media only screen and (max-width: 566px) {
      .modal-header1 {
         font-size: 3.5vw;
      }
   
      .modal-footer1 {
         font-size: 5vw;
      }
  
   }
  
   @media screen and (max-width: 1024px) {
      #bodyMargin {
          margin: 0px auto;
          padding: 0.406% 3.24%;
      }
   }
  @media only screen and (max-height: 670px) {
     button.target{
        height:12vh;
     }
  }
  @media only screen and (max-width: 470px) {
     button.target{
        width:85%;
     }
  }